.allhikers-render-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height: 100vh; */
    width: 100vw;
    background-color: rgb(250, 242, 235);
    margin: 0;
}

.hiker-navbar{
    font-family: 'Permanent Marker', cursive;
    height: 10vh;
    font-size: 120%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 99.6vw;
    background-color: orange;
    padding-left: 5px;
    border-radius: 0px 0px 10px 10px;
}

.allhikers-div{
    width: 50vw;
    margin-left: 1%;
    /* position: relative; */

}

.onehiker-div{
    display: flex;
    justify-content: space-between;
    /* height: 20vw; */
    background: white;
    border: 2px solid rgb(243, 243, 243);
    border-radius: 10px 0px 0px 10px;
    box-shadow: 1px 2px 3px grey;
    padding:0;
    width: 45vw;
    position: fixed;
    top: 20vh;
    right: 2%;

}

.hiker-img{
    /* font-family: 'Expletus Sans', cursive; */
    height: 33%;
    width: 33%
}

.hiker-info{
    font-family: 'Expletus Sans', cursive;
    height: 33%;
    width: 33%
}

.close-button{
    background-color: orange;
    /* width: 33%; */
    margin: 0px;
    padding: 5px;
    border: 2px solid orange;
    border-radius: 10px 0px 0px 10px;
    /* box-shadow: 1px 2px 3px grey; */
    font-family: 'Expletus Sans', cursive;
}

@import '../../../node_modules/sal.js/dist/sal.css';

@media only screen and (max-width: 1024px){
    .allhikers-render-div{
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
        height: 100vh;
        width: 100vw;
        background-color: rgb(250, 242, 235);
        margin: 0;
    }

    .allhikers-div{
        width: 90vw;
        padding-left: 5%;
        /* height: 75vh; */
        /* overflow-y: scroll; */
        /* position: relative */
    }

    .onehiker-render-div{
        height: 100vh;
        width: 100vw;
        background: rgba(250, 242, 235, 0.9);
        /* opacity: 0.5; */
        position:fixed;
    
    }

    .onehiker-div{
        display: flex;
        justify-content: space-between;
        /* height: 20vw; */
        background: white;
        /* opacity: 1; */
        border: 2px solid rgb(243, 243, 243);
        border-radius: 10px 0px 0px 10px;
        box-shadow: 1px 2px 3px grey;
        padding:0;
        width: 100vw;
        top: 30%;
    
    }
}